body{
    background-color: rgb(30, 27, 41);
}

#playfield{
    background-image: url(sprites/Fondo.webp);
    background-size: cover;
    width:600px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}
h1{
    text-align: center;
}

#player{
    background-image: url(sprites/player.png);
    background-size: cover;
    position: absolute;
    transform: rotate(41deg);
}
.enemy{
    background-image: url(sprites/maloso.png);
    background-size: cover;
    position: absolute;
}
.bullet{
    background-image: url(sprites/misil.png);
    background-size: cover; 
    position: absolute;
    transform: rotate(45deg);
}