body{
    background-color: rgb(30, 27, 41);
}

#playfield{
    background-color: rgb(8, 8, 68);
    width:600px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}
h1{
    text-align: center;
}

#player{
    background-color: aqua;
    position: absolute;
}